---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImg from "../assets/typegen.webp";
import { links } from "src/links";
---

<Layout title='Novacare x Sanity Fagdag'>
  <header>
    <nav class='flex justify-end py-5 px-10'>
      <a class='underline hover:no-underline' href='/employees'>Menneskene</a>
    </nav>
  </header>
  <div class='w-full px-4 h-full gap-10 mx-auto grid justify-center'>
    <h1 class='font-semibold text-4xl text-center'>Novacare + Sanity = 💖</h1>
    <Image class='rounded-xl' src={heroImg} alt='' />

    <ul class='flex gap-4 justify-center'>
      {
        links.map((link) => (
          <li>
            <a href={link.url} target='_blank' class='badge badge-outline'>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
