---
import { sanityClient } from "../sanity-client";
import { LIST_QUERY } from "../groq/list";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Card from "../components/card.astro";

const data = await sanityClient.fetch(LIST_QUERY);
const employee = data?.items ?? [];
---

<Layout title='Welcome to Astro.'>
  <div class='w-full mx-auto max-w-[1040px]'>
    <h1 class='my-10 pt-10 font-semibold text-4xl'>{data.name}</h1>

    <ul class='grid sm:grid-cols-3 gap-5'>
      {employee.map((employee: any) => <Card {employee} />)}
    </ul>
  </div>
</Layout>
