---
import { sanityClient } from "@/utils/sanity-client";
import { LIST_QUERY } from "@/groq/list";
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
import Card from "@/components/Card.astro";

const data = await sanityClient.fetch(LIST_QUERY);
const employee = data?.items;
---

<Layout title={data.name}>
  <header>
    <nav class='flex justify-end py-5 px-10'>
      <a class='underline hover:no-underline' href='/'>Tilbake</a>
    </nav>
  </header>
  <div class='w-full px-4 h-full gap-10 mx-auto grid justify-center'>
    <h1 class='pt-1 font-semibold text-4xl'>{data.name}</h1>

    {
      employee && (
        <ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-5'>
          {employee.map((employee: any) => (
            <Card {employee} />
          ))}
        </ul>
      )
    }
  </div>
</Layout>
